/*
 * @Author: 秦雨霏
 * @Date: 2018-03-04 21:31:14 
 * @Last Modified by: 秦雨霏
 * @Last Modified time: 2018-07-11 00:15:59
 */
* {
  margin:0;
  padding:0;
}
.wrapper {
  margin: 0;
  padding: 0;
}
.content {
  margin-top: 20px;
  margin-bottom: 10px;
  height: auto;
  min-height: 800px;
}
.breadcrumb {
  font-size: 16px;
}
.formMargin {
  margin: 20px;
}
.inline {
  display: inline-block;
}
.buttonGroup {
  margin-top: 40px;
}
.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.cursorPointer {
  cursor: pointer;
}

/* 和盒模型相关的样式 */
.w200 {
  width: 200px;
}
.percentWidth_100 {
  width: 100%;
}
.mt5 {
  margin-top: 5px;
}
.mt20 {
  margin-top: 20px;
}
.mb10 {
  margin-bottom: 10px;
}

