/*
 * @Author: qinyufei 
 * @Date: 2018-03-04 21:31:14 
 * @Last Modified by: qinyufei
 * @Last Modified time: 2018-03-04 22:18:09
 */
* {
  margin:0;
  padding:0;
}
.wrapper {
  margin: 10px;
  padding: 0 10px 10px;
}
.content {
  margin-top: 10px;
  margin-bottom: 10px;
  height: auto;
  min-height: 630px;
}
.breadcrumb {
  font-size: 16px;
}

