/*
 * @Author: qinyufei 
 * @Date: 2018-03-04 21:31:14 
 * @Last Modified by: qinyufei
 * @Last Modified time: 2018-03-08 17:46:26
 */
* {
  margin:0;
  padding:0;
}
.wrapper {
  margin: 0;
  padding: 0;
}
.content {
  margin-top: 20px;
  margin-bottom: 10px;
  height: auto;
  min-height: 800px;
}
.breadcrumb {
  font-size: 16px;
}
.formMargin {
  margin: 20px;
}
.inline {
  display: inline-block;
}
.buttonGroup {
  margin-top: 40px;
}

